/* ------------------ Navigation / Header ------------------ */
nav {
	wudth: 116px;
	float:left;
	position: fixed;
}

.nav-header {
	padding-left: 15px;
	padding-top: 10px;
}

nav .navitem {
	font-size: .85em!important;
	cursor: pointer;
}

/* ------------------ Content ------------------ */
.content {
	padding-top: 14px;
	margin-left:116px;
	padding-left: 10px;
	padding-right: 10px;
}

h5 {
	padding-left: 10px;
}

legend {
	font-size: .8em;
}

/* ------------------ Bootstrap override ------------------ */
.row {
    margin-top:10px;
}

.navbar-default {
    margin-top:15px;
    border-color:inherit;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    background-color: #423A40;
}


.btn {
    width:100%;
}

/* ------------------ Angular-charts override ------------------ */
.tick {
    cursor: pointer;
    font-size: 12px;

}

svg {
    width: auto;
}

/* ------------------ Regular css ------------------ */

.myChart {
	color: white!important;
	width: 100%!important;	
}

/* ------------------ Regular css ------------------ */

.background2 {
    background-color: #bfd7ff;
}

.verticalSpace {
    margin-bottom:10%;
}



.infoHeader {
    width:90%;
    margin-bottom: 5%;
    padding-left: 10px;
    background-color: #dff0d8;

}

.scrollIt {
    overflow:scroll;
    height:250px;
}

.glass {
    background-image: url('glass.png');
    background-repeat: no-repeat;
    background-position: right center;
}

.leftVerticalLine {
    border-left: 1px solid rgb(219, 219, 217);
}

/* ------------------ Search box ------------------ */

.stylish-input-group {
	position: absolute;
	width: 255px;
	right: 15px;
	top: -40px;	
}

.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}