<section class="content">

    <legend><url-location></url-location></legend>

    <div ng-if= "mainCtrl.currentView == 'Dashboard'">

        <h5>Dashboard</h5>

        <div>
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div class="column col-md-4">
                        <my-chart type="line" title="Scopes"></my-chart>
                    </div>
                    <div class="column col-md-4">
                        <my-chart type="bar" title="Digest"></my-chart>
                    </div>
                    <div class="column col-md-4">
                        <my-chart type="line" title="Watches"></my-chart>
                    </div>
                </div>
            </div>

        </div>

        <h5>Events log</h5>
        <div>
            <div class="row clearfix">
                <div class="col-md-12 column">
	                <my-grid></my-grid>
                </div>
            </div>
        </div>
        
    </div>

    <div ng-if= "mainCtrl.currentView == 'Components'"><wrapper-for-directives-tab></wrapper-for-directives-tab></div>
    <div ng-if= "mainCtrl.currentView == 'About'">About</div>

</section>



